[submodule "libraries/lua-tinyyaml"]
	path = libraries/lua-tinyyaml
	url = https://github.com/api7/lua-tinyyaml
[submodule "contributions/pandoc-to-markdown"]
	path = contributions/pandoc-to-markdown
	url = https://github.com/drehak/pandoc-to-markdown.git
[submodule "contributions/md-templates"]
	path = contributions/book-templates
	url = https://github.com/xvrabcov/md-templates
[submodule "contributions/doctoral-thesis"]
	path = contributions/doctoral-thesis
	url = https://github.com/witiko/doctoral-thesis
